
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Turma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Sistema de Aulas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Registrar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Detalhes da Turma: {{ turma.name }}</h1>
        <h2>Alunos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in turma.alunos %}
                <tr>
                    <td>{{ aluno.username }}</td>
                    <td>
                        <form action="{{ url_for('remove_student_from_class', class_id=turma.id, student_id=aluno.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Adicionar Aluno</h2>
        <form method="POST" action="{{ url_for('class_details', class_id=turma.id) }}">
            <div class="form-group">
                <label for="student_id">Selecionar Aluno</label>
                <select class="form-control" id="student_id" name="student_id">
                    {% for aluno in alunos %}
                    <option value="{{ aluno.id }}">{{ aluno.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</body>
</html>